<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <link href="/fontawsome/css/all.min.css" rel="stylesheet">
    <title>
        Property &mdash; Free Bootstrap 5 Website Template by Untree.co
    </title>
</head>

<body>

    <nav class="site-nav">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation d-flex justify-content-between">
                    <a href="/" class="logo m-0 float-start">Property</a>

                    <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu">
                        <li class="active"><a href="/">Trang chủ</a></li>
                        <li class="has-children">
                            <a href="/properties">Bất động sản</a>
                            <ul class="dropdown">
                                <li><a href="/sellProperties">Mua bất động sản</a></li>
                                <li><a href="/rentalProperties">Thuê bất động sản</a></li>
                                <li><a href="/addProperty">Đăng tin động sản</a></li>
                            </ul>
                        </li>
                        <li><a href="/subscriptions">Gói hội viên</a></li>
                    </ul>
                    <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu">

                        <li id="profile">
                            <a class="border rounded-pill" href="/login">Đăng nhập</a>
                            <a class="border rounded-pill" href="/register">Đăng ký</a>
                        </li>
                        <li><a href="/addProperty">Đăng tin</a></li>

                    </ul>

                    <a href="#"
                        class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                        data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>