<div th:replace="~{/layout/header}"></div>
<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    My Proerties
                </h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="properties.html">My Properties</a>
                        </li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-end mb-4">
            <!-- <form class="d-flex justify-content-end ms-4"> -->
            <!-- <input class="form-control border-0" id="fullName" type="search" placeholder="Search"> -->
            <a href="/admin/addProduct" id="search" class="pt-1 mx-2 btn btn-primary">
                <i class="fas fa-plus"></i>
                Add product
            </a>
            <!-- </form> -->
        </div>
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Category</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Color</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="products">

                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <div id="pagination-page"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/layout/footer}"></div>