<div th:replace="~{/layout/header}"></div>
<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    My Proerties
                </h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="/myProperties">My Properties</a>
                        </li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Address</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="products">
                    <tr th:each="property:${properties}">
                        <td>[[${property.name}]]</td>
                        <td>[[${property.price}]]</td>
                        <td>[[${property.address}]]</td>
                        <td>[[${property.type}]]</td>
                        <td>[[${property.status}]]</td>
                        <td th:if="${property.status=='AVAILABLE'}">

                            <a th:href="@{'/editProperty/'+${property.id}}"><i
                                    class="text-warning shadow border btn p-2 mx-2 fa-solid fa-pen"></i></a>
                            <a th:if="${property.type=='SALES'}" th:href="@{'/sellProcess/'+${property.id}}"><i
                                    class="text-success shadow border btn p-2 mx-2 fa-solid fa-money-bill"></i></a>
                            <a th:unless="${property.type=='SALES'}" th:href="@{'/rentalProcess/'+${property.id}}"><i
                                    class="text-primary shadow border btn p-2 mx-2 fa-solid fa-money-bill"></i></a>
                        </td>
                        <td
                            th:if="${property.status=='PENDING_AVAILABLE' || property.status=='PENDING_SOLD'||property.status=='PENDING_RENTED'}">

                            <b class="text-danger">Đang chờ admin phê duyệt</b>
                        </td>
                        <td th:if="${property.status=='UNAVAILABLE'}">
                            <a th:href="@{'/editProperty/'+${property.id}}"><i
                                    class="text-warning shadow border btn p-2 mx-2 fa-solid fa-pen"></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <div id="pagination-page"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/layout/footer}"></div>