<div th:replace="~{/layout/header}"></div>
<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">
                    My Proerties
                </h1>

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="/myProperties">My Properties</a>
                        </li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Address</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="products">
                    <tr th:each="property:${properties}">
                        <td>[[${property.name}]]</td>
                        <td>[[${property.price}]]</td>
                        <td>[[${property.address}]]</td>
                        <td>[[${property.type}]]</td>
                        <td>[[${property.status}]]</td>
                        <td>
                            <a href="#" class="btn btn-warning">MODIFY</a>
                            <a href="/sellProcess" class="btn btn-success">SOLD</a>
                            <a href="/rentalProcess" class="btn btn-primary">RENTED</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <div id="pagination-page"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/layout/footer}"></div>