<div th:replace="~{/layout/admin/header}"></div>

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        <img th:each="image:${property.images}" src="/images/img_1.jpg" alt="Image" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="heading ">[[${property.name}]]</h2>
                <p class="meta">[[${property.address}]]</p>
                <p class="text-black-50">
                    <b>Giá</b>: [[${ property.price*1000000}]]
                </p>
                <p class="text-black-50">
                    <b>Loại</b>: [[${property.type}]]
                </p>
                <p class="text-black-50">
                    <b>Diện tích</b>: [[${property.area}]] (m²)
                </p>
                <div class="d-block agent-box p-5">
                    <b>Thông tin người môi giới</b>
                    <div class="img mb-4">
                        <img th:src="@{${property.realtor.imageURL}}" alt="Image" class="img-fluid" />
                    </div>
                    <div class="text">
                        <h3 class="mb-0">[[${property.realtor.name}]]</h3>
                        <div class="meta mb-3">Người môi giới</div>
                        <p>
                            Email: [[${property.realtor.email}]]
                        </p>
                        <p>
                            Số điện thoại: [[${property.realtor.phone}]]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="action" class="d-flex justify-content-between my-4">
    <div>
        <a href="/admin" class="btn btn-primary">Back</a>
    </div>

</div>
<div th:replace="~{/layout/admin/footer}"></div>